@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: rgba(236, 190, 9, 0.886);
}

.input-style {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}
